{% trans_default_domain 'FOSUserBundle' %}






{% extends 'LearningFrontBundle::layout.html.twig' %}


{% block title %} Main page {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="wrap">
        <div class="container profile-container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <a href="{{ url("_homepage") }}">
                        <img class="thumbnail float-left" src="{{ 'img/empty_logo.png' | apply_filter('logo_mini') }}"
                             title="{{ app.user.username }}" alt="{{ app.user.username }}" />
                    </a>

                    <div class="pull-right">

                        {% if app.user != null %}

                            <a href="{{ path('fos_user_profile_show') }}">
                                <img class="thumbnail float-left" src="{{ 'img/user/avatar_1.png' | apply_filter('user_profile_mini') }}"
                                     title="{{ app.user.username }}" alt="{{ app.user.username }}" />
                            </a>

                            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default navbar-btn">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}" class="btn btn-default navbar-btn">
                                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                            </a>
                            <a class="btn btn-default navbar-btn"  href="{{ path('fos_user_registration_register') }}">
                                {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% endif %}

                    </div>
                </div>
            </nav>

            <div class="panel panel-default main-panel">
                <div class="panel-heading"><h3 class="text-primary">User's profile</h3></div>
                <div class="panel-body">
                    <div class="top-block">
                        <div class="user-img-block  float-left">
                            <img class="thumbnail" src="{{ 'img/user/avatar_1.png' | apply_filter('user_profile') }}" />
                            {#<button class="btn btn-default">Change</button>#}
                        </div>

                        <div class="float-right col-sm-10">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>{{ 'profile.show.username'|trans }}: {{ app.user.username }}</p>
                                    <p>{{ 'profile.show.email'|trans }}: {{ app.user.email }}</p>
                                    <p>{{ 'profile.show.email'|trans }}: {{ app.user.firstName }}</p>
                                    <p>{{ 'profile.show.email'|trans }}: {{ app.user.lastName }}</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div role="tabpanel">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            {% set route = app.request.attributes.get('_route') %}

                            <li class="{{ (route == 'fos_user_profile_show') ? 'active' : '' }}">
                                <a href="{{ path('fos_user_profile_show') }}" aria-controls="home" role="tab" data-toggle="tab">Home</a>
                            </li>
                            <li class="{{ (route == 'fos_user_profile_edit') ? 'active' : '' }}">
                                <a href="{{ path('fos_user_profile_edit') }}" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                            <li class="{{ (route == '_profile_messages') ? 'active' : '' }}">
                                <a href="{{ path('_profile_messages') }}" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                            <li class="{{ (route == '_profile_settings') ? 'active' : '' }}">
                                <a href="{{ path('_profile_settings') }}" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane {{ (route == 'fos_user_profile_show') ? 'active' : '' }}"
                                 id="tab-content-home">
                                Quis leo placerat, tempor tortor convallis, tincidunt lacus. Etiam molestie,
                                nulla quis aliquam gravida, elit libero consequat enim, quis rhoncus elit lorem quis nulla.
                                Donec consequat, lorem ac imperdiet fringilla, neque lectus vulputate diam, id dictum nibh
                                mi vitae mauris. Integer ullamcorper ex elementum lectus pulvinar, vel ullamcorper mi
                                varius. Proin quam lorem, suscipit et consectetur at, tincidunt quis metus. Suspendisse potenti.
                            </div>

                            <div role="tabpanel" class="tab-pane {{ (route == 'fos_user_profile_edit') ? 'active' : '' }}"
                                 id="tab-content-info">
                                Maecenas quis leo placerat, tempor tortor convallis, tincidunt lacus. Etiam molestie,
                                nulla quis aliquam gravida, elit libero consequat enim, quis rhoncus elit lorem quis nulla.
                                Donec consequat, lorem ac imperdiet fringilla, neque lectus vulputate diam, id dictum nibh
                                mi vitae mauris. Integer ullamcorper ex elementum lectus pulvinar, vel ullamcorper mi
                                varius. Proin quam lorem, suscipit et consectetur at, tincidunt quis metus. Suspendisse potenti.
                            </div>
                            <div role="tabpanel" class="tab-pane {{ (route == '_profile_messages') ? 'active' : '' }}" id="tab-content-messages">
                                Etiam molestie, nulla quis aliquam gravida, elit libero consequat enim, quis rhoncus elit lorem quis nulla.
                                Donec consequat, lorem ac imperdiet fringilla, neque lectus vulputate diam, id dictum nibh
                                mi vitae mauris. Integer ullamcorper ex elementum lectus pulvinar, vel ullamcorper mi
                                varius. Proin quam lorem, suscipit et consectetur at, tincidunt quis metus. Suspendisse potenti.
                            </div>
                            <div role="tabpanel" class="tab-pane {{ (route == '_profile_settings') ? 'active' : '' }}" id="tab-content-settings">
                                Tempor tortor convallis, tincidunt lacus. Etiam molestie,
                                nulla quis aliquam gravida, elit libero consequat enim, quis rhoncus elit lorem quis nulla.
                                Donec consequat, lorem ac imperdiet fringilla, neque lectus vulputate diam, id dictum nibh
                                mi vitae mauris. Integer ullamcorper ex elementum lectus pulvinar, vel ullamcorper mi
                                varius. Proin quam lorem, suscipit et consectetur at, tincidunt quis metus. Suspendisse potenti.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">Panel footer</div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}
